@font-face {
    font-family: 'kakao';
    src: url('../css/kakao_fonts/KakaoRegular.ttf');
}

.background {
    background-color: #A0D3F9;
    height: 100vh;
    padding-top: 10vh;
}

.cont1 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.cont2 {
    width: 40%;
    display: inline-block;
    margin: auto;
    margin-top: 5vh;
}

.example-custom-input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A0D3F9;
    color: black;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
    width: 240px;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border:none;
  }